@model  IEnumerable<Assignment5_B_Diarra.Models.ClassModule>

@{
    ViewBag.Title = "classList";
}

<h2>List of the @Model.Count() classes from the database</h2>
<ol>
    @foreach (var item in Model)
    {
        <li>
            <a href="/Classes/ShowClass/@item.teacherId"> @item.classCode</a>
        </li>
    }
</ol>



